
/*
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

*/
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border: 2px solid red;
}

.app-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

#task-list-container {
    margin-top: 30px;
}

#task-list {
    list-style-type: none;
    padding-left: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
#task-input{
    width: 80%;
    padding: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}
#add-task-btn{
    background-color: black;
  
    padding:1rem;
}
#clearAll-task-btn{
    background-color: black;

    padding:1rem;
}
#clrTask{
    display: inline;
    background-color: black;
    color:rgb(245, 8, 8);
    padding:1rem;
}
button:hover {
    background-color: #45a049;
}

#weather-info, #quote-of-the-day, #joke-of-the-day, #news-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.incomplete {
    color: black;
}
footer{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
li span {
    display: inline-block;
    width: 250px;    /* set your preferred width */
    white-space: nowrap; /* keep text on one line */
    overflow: hidden;    /* hide overflow */
    text-overflow: ellipsis; /* add "..." */
}


/* NEWS DIV */
#newsViewer {
    opacity: 1;
    transition: opacity 0.6s ease;   /* fade duration */
}

#newsViewer.fade-out {
    opacity: 0;
}
#quote-of-the-day{
    border: 2px solid red
}
#newsImage{
    width: 350px;
    height:auto;
}